<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: auto;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="assets/logogdog.jpg" alt="Logo" height="75px" class="d-inline-block align-top">
      <span class="ms-2">Bem-vindo ao Pet Amigo!</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="a1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:90px;width:200px;">
            Produto
          </a>
          <ul class="dropdown-menu" id="drp2">
            <li><a class="dropdown-item" [routerLink]="'/layout/produto/'">Cadastro</a></li>
            <li><a class="dropdown-item" [routerLink]="'/layout/lista-produto/'">Lista</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="a2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:90px;width:200px;">
            Usuário
          </a>
          <ul class="dropdown-menu" id="drp1">
            <li><a class="dropdown-item" [routerLink]="'/layout/usuario/'">Cadastro</a></li>
            <li><a class="dropdown-item" [routerLink]="'/layout/lista-usuario/'">Lista</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="'/layout/login/'" style="height:90px;width:100px;">
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="'/layout/register/'" style="height:90px;width:100px;">
            Cadastrar
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
