<div style="background-color: #cabdbd; padding: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
    <div style="background-color: #928787c0; padding: 20px; display: flex; flex-direction: column;">
      <h4 style="text-align: center; margin-bottom: 20px;">Cadastro de Usuário</h4>
      <form [formGroup]="usuarioForm" (submit)="salvar()">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Digite o nome do usuário..." style="border-radius: 10px;" formControlName="nome" required>
          <div class="alert alert-danger" role="alert" *ngIf="usuarioForm?.get('nome')?.invalid && buttonClicked" style="border-radius: 10px; margin-top: 5px;">
            Nome inválido
          </div>
        </div>
  
        <div class="mb-3">
          <label for="dataNascimento" class="form-label">Data de Nascimento</label>
          <input type="date" class="form-control" id="dataNascimento" style="border-radius: 10px;" formControlName="dataNascimento" required>
          <div class="alert alert-danger" role="alert" *ngIf="usuarioForm?.get('dataNascimento')?.invalid && buttonClicked" style="border-radius: 10px; margin-top: 5px;">
            Data de Nascimento inválida
          </div>
        </div>
  
        <button type="submit" class="btn btn-primary btn-block" style="border-radius: 20px; padding: 10px; margin-top: 20px;">Salvar</button>
      </form>
    </div>
  </div>
  