<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="lista-usuario.component.css">
</head>
<body>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="8" style="text-align: center;">LISTA DE AGENDAMENTOS</th>
        </tr>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Número Celular</th>
            <th scope="col"> Agendamento</th>
            <th scope="col"> Nome do Animal</th>
            <th scope="col">Espécie</th>]
            <th scope="col">DELETAR AGENDAMENTO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Matheus</td>
            <td>+55 41 998136766</td>
            <td><button class="btn btn-warning">Editar</button></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Bryan</td>
            <td>+55 41 987243502</td>
            <td><button class="btn btn-warning">Editar</button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Stephanny</td>
            <td>+55 41 999360790</td>
            <td><button class="btn btn-warning">Editar</button></td>
        </tr>
    </tbody>
</table>

</body>
</html>

