<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">Espécie</th>
      <th scope="col">Foto do PET</th>
      <th scope="col">Editar</th> 
      <th scope="col">Agendar Visita</th> 
      <th scope="col">Excluir PET</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <th scope="row">{{ produto.key }}</th>
      <td>{{ produto.nome }}</td>
      <td>{{ produto.especie }}</td>
      <td>
        <img [src]="produto.imagemUrl" alt="Imagem do pet" width="100" height="100">
      </td>
      <td>
        <button (click)="openModalEditar(produto)">Editar</button> <!-- Passa o produto para a função -->
      </td>
      <td>
        <button (click)="openModalAgendar(produto)">Agendar</button> <!-- Passa o produto para a função -->
      </td>
      <td>
        <button (click)="excluirProduto(produto.key)">Excluir</button> <!-- Botão de exclusão -->
      </td>
    </tr>
  </tbody>
</table>

<div #modalEditar id="modalEditar" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModalEditar()">&times;</span>
    <h2>Editar Produto</h2>
    <div>
      <label for="editNome">Nome:</label>
      <input type="text" id="editNome" [(ngModel)]="produtoEditado.nome">
    </div>
    <div>
      <label for="editEspecie">Espécie:</label>
      <input type="text" id="editEspecie" [(ngModel)]="produtoEditado.especie">
    </div>
    <button (click)="salvarEdicao()">Salvar</button>
  </div>
</div>

<div #modalAgendar id="modalAgendar" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModalAgendar()">&times;</span>
    <h2>Agendar Visita</h2>
    <!-- Adicione os campos necessários para o agendamento -->
    <div>
      <label for="nome">Nome do PET:</label>
      <input type="text" id="nome" [(ngModel)]="nome" [value]="produtoEditado.nome">
    </div>
    
    <div>
      <label for="dataVisita">Data da Visita:</label>
      <input type="date" id="dataVisita" [(ngModel)]="dataVisita">
    </div>
    <div>
      <label for="horaVisita">Hora da Visita:</label>
      <input type="time" id="horaVisita" [(ngModel)]="horaVisita">
    </div>
    <div>
      <label for="idUsuario">ID do Usuário:</label>
      <input type="text" id="idUsuario" [(ngModel)]="idUsuario">
    </div>
    
    <button (click)="confirmarAgendamento()">Agendar</button>
  </div>
</div>
